<p>View markdown: <a href="/md/index">here</a></p>

<div class="articles">
    
<!-- Articles with Category -->
@for category in app.get_all_categories()
    <h2>Category @category.name</h2>
    @for article in app.get_articles_by_category(category.id).visible()
    <a href=@{app.article_url(article)} class="article">
        <h2>@article.name</h2>
        <img class="article-img" src="@article.image_src" alt="[image]">
        <p class="description">@article.description</p>
        <p class="date">@{format_time(article.updated_at)}</p>
        <p class="category">@category.name</p>
    </a>
    @endfor
@endfor
    
<h2>Other Articles</h2>
<!-- Articles without a Category -->
@for article in app.get_all_articles().visible().no_category()
    <a href=@{app.article_url(article)} class="article">
        <h2>@article.name</h2>
        <img class="article-img" src="@article.image_src" alt="[image]">
        <p class="description">@article.description</p>
        <p class="date">@{format_time(article.updated_at)}</p>
    </a>
@endfor

</div>
