/* Blocks */
main {
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

p a {
    color: #486581;
    text-decoration: underline;
}

p {
    line-height: 22px;
}

.table {
    position: relative;
    display: grid;
    border: 1px solid #e8e8eb;
    line-height: 1.4;
    width: 100%;
    margin: 1em 0px;
}

.table .tc-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    border-bottom: 1px solid #e8e8eb;
    background-color: white;
}

.table .tc-row:nth-child(even) {
    background-color: #fafafa
}

.table .tc-row:last-child {
    border-bottom: 0px;
}

.table .tc-cell {
    border-right: 1px solid #e8e8eb;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
}

.table .tc-cell:last-child {
    border-right: 0px;
}

.table .tc-head .tc-cell {
    font-weight: 600;
}

.link-block {
    background: #fff;
    border: 1px solid rgba(201, 201, 204, 0.48);
    box-shadow: 0 1px 3px rgba(0,0,0, .1);
    border-radius: 6px;
    padding: 25px;
    text-decoration: none;
    position: relative;
    display: block;
    max-width: 650px;
    margin: 2em auto;
}

.link-block .link-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
}

.link-block .link-description {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.55em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.link-block .link-anchor {
    display: block;
    font-size: 15px;
    line-height: 1em;
    color: #888 !important;
}

.link-block .link-img {
    position: absolute;
}

.quote-block {
    margin: 2em 0px;
}

.quote-block blockquote {
    background-color: rgba(var(--color-primary-rgb), 0.1);
    border-left: 8px solid var(--color-primary);
    padding: 10px 0px 10px 30px;
    font-weight: 300;
    font-size: 28px;
    margin: 0;
    position: relative;
}


.quote-block .quote-caption, .img-block .img-caption, .embed-block .embed-caption, .code-block .language-name {
    padding-left: 5px;
    color: #3b3b3b;   
    font-size: 14px;  
}

.img-block, .embed-block {
    margin: 2em auto;
    width: fit-content;
}

.img-block {
    max-width: 100%;
}

img {
    max-width: 100%;
}

.embed-block {
    max-width: 650px;
    width: 100%;
}

.embed-block iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.code-block {
    margin: 2em auto;
}

code.inline-code {
    background: rgba(var(--color-primary-rgb), 0.1);
    color: var(--color-primary);
    padding: 3px 4px;
    border-radius: 5px;
    margin: 0 1px;
    font-family: inherit;
    font-size: 0.86em;
    font-weight: 500;
    letter-spacing: 0.3px;
    white-space: nowrap;
}

button.copy-to-clipboard-button {
    border-radius: 5px !important;
    margin: 4px;
    padding: 8px !important;;
    background: rgba(255,255,255, 0.1) !important;
    color: #cccccc !important;
    transition: background .2s ease;
}

button.copy-to-clipboard-button:hover {
    background: rgba(255,255,255, 0.25) !important;
    cursor: pointer;
}

button.copy-to-clipboard-button span {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' height='16' viewBox='0 0 16 16' version='1.1' width='16' data-view-component='true'%3E%3Cpath fill='%237d8590' d='M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z'%3E%3C/path%3E%3Cpath fill='%237d8590' d='M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z'%3E%3C/path%3E%3C/svg%3E");
}

button.copy-to-clipboard-button[data-copy-state="copy-success"] {
    background: rgba(var(--color-primary-rgb), 0.4) !important;
}

button.copy-to-clipboard-button[data-copy-state="copy-success"] span {
    background-image: unset !important;
    width: auto;
}

ol {
    counter-reset: item
}

ol li {
    display: block
}

ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}

.alert {
    margin: 1em auto;
    color: white;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    padding-left: 50px;
    line-height: 1.5;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z' stroke='%23ffffff' stroke-width='2'%3E%3C/path%3E%3Cpath d='M12 8L12 13' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M12 16V15.9888' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: 11px 11px;
    background-repeat: no-repeat;
    background-size: 30px;
}
.alert.info {
    background-color: #0099cc;
}

.alert.info code.inline-code {
    background: rgba(var(--color-primary-rgb, 0.8));
    color: white;
}

.alert.success {
    background-color: #05a846;
}
.alert.warn {
    background-color: #ff9900;
}
.alert.danger {
    background-color: #e00606;
}